includes:
	- phar://phpstan.phar/conf/config.levelmax.neon
parameters:
	bootstrapFiles:

	scanDirectories:
	    -  %currentWorkingDirectory%/src
	autoload_files: []
	polluteCatchScopeWithTryAssignments: true
	reportUnmatchedIgnoredErrors: false
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#Function pinba_[a-zA-Z0-9\\_]#'
		- '#Function finfo_[a-zA-Z0-9\\_]#'
		- '#Function ldap_[a-zA-Z0-9\\_]#'
		- '#Constant LDAP_OPT_PROTOCOL_VERSION [a-zA-Z0-9\\_]#'
		- '#class KRB5CCache [a-zA-Z0-9\\_]#'
		- '#call_user_func_array expects callable#'
		- '#Unsafe usage of new static#'
		- '#spl_autoload_register expects callable#'